<ion-header>
  <ion-navbar>
    
    <ion-title style="float:left;padding-top:15px;">About game </ion-title>

    <button class="button button-icon ion-compose" (click)="logout()" style="width:50px;height:50px;background-color:transparent;float:right;;font-size:1.7em">
      <ion-icon name="exit"></ion-icon>
    </button>

    <button class="button button-icon ion-compose" (click)="profile()" style="width:50px;height:50px;background-color:transparent;float:right;;font-size:1.7em">
      <img  [src]="base64Image" *ngIf="base64Image" /><br/>
    </button>
    
  </ion-navbar>
</ion-header>


<ion-content padding style="font-size: 18px">
    <span id="text">
      
    </span>
  <button (click)="onClick()"> </button>







</ion-content>
