* { margin: 0; padding: 0; text-align:left;}

body{
    //background-color:#708090;
    font-size:14px;
}
.float_left{
    float: left;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333;
}

h1,h2,h3{
    margin: 5px;
}
#float_left{
    float: left;
}
#main{
    min-height:1372px;
    width:1154px;
    overflow: hidden;
    margin-right:auto;
    margin-left:auto;
    margin-top:60px;
    margin-bottom:60px;
    background-color: rgba(117, 112, 112, 0.5);
    border-radius: 20px;
}
#logo{
    width: 300px;
    height: 150px;
    float: left;
    background-color: #eaeaea;
    margin:5px;
    border-radius: 20px;
}
#object_1{
    height:150px;
    width:834px;
    float: left;
    background-color: #eaeaea;
    margin:5px;
    border-radius: 20px;
}
.object_2{
    min-height:100px;
    width:214px;
    float: left;

    background-color: #eaeaea;
    margin:5px;
    padding:5px;
    border-radius: 20px;
    text-align: center;
}
#object_3{
    min-height:1265px;
    width:900px;
    float: left;
    background-color: #eaeaea;
    font-size:1em;
    margin:5px;
    padding:5px;
    border-radius: 20px;
}
#object_1_triangle {
    float: left;
    width: 0;
    height: 0;
    border-top: 82px solid rgba(255, 255, 255, 0.5);


    border-left: 835px solid transparent;
}
#signature{
    padding-left:20px;
    text-align:center;
}
.item{
    width:900px;
    float:left;
    min-height:100px;
    margin-top: 5px;
    border:1px solid #c6c6c6;
    font-size: 14px;
}
.item_picture{
    float:left;
    width:283px;
    min-height:100px;
    font-size: 14px;
}
.item_content{
    float:left;
    width:849px;
    min-height:100px;
    font-size: 14px;
}
#nav1 {
    float: left;
    height:68px;
    width:500px;
    display: block;
}

.nav_img input{ /* HIDE RADIO */

    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
}
.nav_img input + img{ /* IMAGE STYLES */
    border-radius: 20px;
    cursor:pointer;
    border:1px solid transparent;
}
.nav_img input:checked + img{
    border-radius: 20px;
    border:1px solid rgba(35, 37, 45, 0.95);
    background-color: #998f56;
}
.nav_img:hover img {
    background-color: #99653c;
}

#username {
    color: coral;
    font-size:18px;
}
#nav2 {
    height:64px;
    width:280px;
    float: left;
    display: block;
    font: bold 14px arial,sans-serif;
    list-style: none outside none;
}
#nav1 li {
    float: left;
    color: #FFF;
}

ol, ul {
    list-style: none outside none;
}

.nav_img:hover img {
    background-color: #99653c;
}

.container{
    height:600px;
    width:600px;
    margin:5px;
    font-size: 14px;
    float: left;
}

#logo_pic{
    width:300px;
    height:150px;
}

#register_form{
    border-collapse: separate;
    border-spacing: 15px;
}

#register_form td{
    width:100px;
}


/*@media (min-width:1600px) {
    #potato{
        display:block;
        position: fixed;
        left: 50%;
        margin-left:550px;
        top: 200px;
        z-index: -1;
        width:500px;
        height:800px;
    }
}
@media (max-width:1600px) {
    #potato:empty {
        display: none;
    }
}
*/